/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/* Define Poppins font using @font-face */
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('assets/font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('assets/font/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('assets/font/Poppins-Black.ttf');
}


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);
    --shadow-box :rgba(0, 0, 0, 0.1);
    --title-color-alt: hsl(0, 0%, 95%);
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*========== Font weight ==========*/
    --font-regular: 500;
    --font-medium: 600;
    --font-black: 900;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
    :root {
    --biggest-font-size: 4em;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
}
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

body.light-theme {
    --title-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 30%);
    --text-color-light: hsl(0, 0%, 40%); 
    --body-color: hsl(0, 0%, 100%); 
    --container-color: hsl(0, 0%, 95%); 
    --shadow-box: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button, input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
    text-shadow: var(--text-shadow);
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden; /*For animation*/
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
    animation: slideInOut 3s infinite;
}

@keyframes slideInOut {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.nav__logo-img {
    width: 1.25rem;
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

/*========== Button Dark/Light ==========*/
.nav__theme{
    position: relative;
    display: flex;
    font-size: 1rem;
    cursor: pointer;
}


@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        width: 100%;
        background: hsla(0, 0%, 0%, .3);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: top .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__close {
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-family: var(--body-font);
    font-weight: var(--font-medium);

    &::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--title-color);
        position: absolute;
        left: 0;
        bottom: -.5rem;
        transition: width .3s;
    }

    &:hover::after {
        width: 70%;
    }
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Add blur to header */
.blur-header::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}

/* Active link */
.active-link::after {
    width: 70%;
}

/*=============== HOME ===============*/
.home__content {
    row-gap: 1rem;
}

.home__group {
    display: grid;
    position: relative;
    padding-top: 2rem;
}


.home__img {
    height: 250px;
    object-fit: contain;
    justify-self: center;
}

.home__indicator {
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.home__indicator::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--title-color);
    top: -3rem;
    right: 45%;
}

.home__details-img {
    position: absolute;
    right: .5rem;

}

.home__details-title,
.home__details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-1);
}

.home__buttons {
    display: flex;
    justify-content: space-between;
}

/* Swiper Class */

.slider {
    position: relative;
    width: 100%;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.5s;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.swiper-slide {
    flex: 0 0 100%; 
    scroll-snap-align: start;
    max-width: 100%; 
    transition: opacity 0.5s; 
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: var(--mb-1);
}

.swiper-pagination a{
    height: 5px;
    width: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all .15s ease;
    margin: .5rem;
}

.swiper-pagination a:hover{
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: #800000;
    color: var(--title-color-alt);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--body-color);
}

.button__icon {
    font-size: 1.25rem;
}

.button--home {
    border: 2px solid;
    background-color: transparent;
    color: var(--title-color);
    border-radius: 3rem;
    padding: .75rem 1.5rem;
}

.button--home:hover {
    background: none;
}

.button--link {
    color: var(--title-color);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

/*=============== ABOUT ===============*/
.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-1);
}

.about__button{
    align-self: left;
}

.about__image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.about__col {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.about__col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/*=============== POPULAR ===============*/

.popular__container {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular__content {
    position: relative;
    background: var(--title-color-alt);
    width: calc(33.333% - 20px);
    padding: 0rem;
    margin-bottom: 20px;
    border-radius: .75rem;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__content img {
    width: fit-content;
    opacity: 0.7; /* Ubah ke tingkat kekerasan sesuai preferensi */
    transition: opacity 0.3s ease;
}

.popular__content:hover img {
    opacity: 1;
}

.popular__tag,
.popular__title,
.popular__subtitle,
.popular__prices,
.popular__button {
    position: absolute;
    width: 100%;
}

.popular__tag {
    position: absolute;
    width: 25%;
    top: 5%;
    left: -5%;
    background-color: var(--container-color);
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-align: right;
    padding: .25rem .5rem;
    border-radius: .25rem;
    transform: translateY(0);
    z-index: var(--z-fixed);
}

.popular__title {
    top: 60%;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    transform: translateY(0);
}

.popular__subtitle {
    top: 68%;
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
    transform: translateY(0);
}

.popular__prices {
    top: 75%;
    display: block;
    align-items: center;
    column-gap: .5rem;
}

.popular__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.popular__discount {
    color: #800000 ;
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.popular__button {
    display: flex;
    position: absolute;
    width: 40%;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    bottom: 0;
    right: -3rem;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    opacity: 0;
}

.popular__icon {
    font-size: 1.25rem;
}

.popular__content:hover .popular__title,
.popular__content:hover .popular__subtitle,
.popular__content:hover .popular__prices {
    transform: translateY(-1rem);
}

.popular__content:hover .popular__button {
    right: 0;
    opacity: 1; 
}

/*=============== JOIN ===============*/
.join__container {
    row-gap: 3rem;
    padding-bottom: 2.5rem;
}

.join__data {
    text-align: center;
}

.join__description {
    color: var(--text-color);
    margin-bottom: 2rem;
}

.join__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join__form form {
    position: relative;
    width: 400px;
    max-width: 100%;
    align-items: center;
}

.join__form input {
    width: 100%;
    outline: none;
    border: none;
    padding: 1.25rem 1rem;
    background-color: var(--container-color);
    border-radius: 4rem;
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
}

.join__form button {
    background-color: #800000;
    color: var(--title-color-alt);
    border-radius: 4rem;
    width:40% ;
    height: 100%;
    aspect-ratio: 1;

    position: absolute;
    right: 0;
    transition: transform 0.4s;
}
.join__form button:hover{
    transform: translateX(0.25rem);
}

/*=============== FOOTER ===============*/
.footer {
    padding-block: 2.5rem;
    background-color: var(--container-color);
}

.footer__content {
    row-gap: 3.5rem;
}

.footer__logo {
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer__data {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 3.5rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links {
    display: grid;
    row-gap: .75rem;
}

.footer__link {
    color: var(--text-color);
    transition: color .4s;
}

.footer__link:hover {
    color: var(--title-color);
}

.footer__group, 
.footer__social {
    display: flex;
}

.footer__group {
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.footer__social {
    column-gap: 1.5rem;

    .footer__social-link {
        color: var(--text-color);
        font-size: 1.25rem;
        transition: color .4s, transform .4s;

    &:hover {
        color: var(--title-color);
        transform: translateY(-.25rem);
    }
    }
}

.footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);

    ::-webkit-scrollbar-thumb {
        background-color: hsl(0, 0%, 20%);
        border-radius: .5rem;

    &:hover {
        background-color: hsl(0, 0%, 30%);
    }
    }
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;

    & :hover {
        transform: translateY(-.25rem);
    }
}

  /* Show Scroll Up */
.show-scroll {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
  /* For small devices */
@media screen and (min-width: 320px) {
    .container{
        margin-inline: 1rem;    
    }

    .home__img{
        height: 200px;
    }
    .home__buttons{
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }

    .about__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .popular__container {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows:repeat(2, 1fr);
        gap: .5rem; 
    }

    .popular__content{
        width:auto;
    }

    .footer__data {
        grid-template-columns: max-content;
    }

    .join__data,.join__form
    .join__data .section__title,.join__description {
        text-align: center;
    }
    
    .join__form{
        width: 80%;
        justify-self: center;
        align-items: center;
    }
}


  /* For medium devices */
@media screen and (min-width: 576px) {

    .about__container,
    .join__container {
        grid-template-columns: 380px;
        justify-content: center;
    }
    .footer__data {
        grid-template-columns: repeat(3, max-content);
    }

    .home__img{
        height: 260px;
    }

    .popular__container {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: none;
        gap: .5rem; 
    }

    .popular__content{
        width: auto;
    }

    .join__form{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .popular__container {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: .5rem; 
    }

    .popular__content{
        width: auto;
    }

    .about__container,
    .join__container {
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }

    .about__data,
    .about__data .section__title,
    .join__data,
    .join__data .section__title {
        text-align: initial;
    }
    
    .join__description{
        text-align: left;
    }

    .footer__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer__group {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__copy {
        order: -1;
    }
}

  /* For large devices */
@media screen and (min-width: 1023px) {
    body{
        margin: 0;
    }

    .section{
        padding: 7rem 0 2rem;
    }

    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__img,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 3.5rem;
    }
    .nav__link{
        text-transform: initial;
        font-weight: initial;
    }

    .home__content{
        padding: 8rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .home__img{
        height: 300px;
    }

    .home__buttons{
        flex-direction: row;
        justify-content: space-between;
        gap: 8rem;
    }

    .about__container {
        grid-template-columns: repeat(2, 460px);
    }

    .popular__container {
        padding-top: 1rem;
        display: flex;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1 ;
        align-items: center;
        justify-content: space-between;
        row-gap: 1rem;
    }

    .popular__content{
        width:300px;
    }

    .join__container {
        grid-template-columns: 460px 340px;
        column-gap: 12rem;
        padding-block: 1rem 5rem;
    }
    .join__data{
        padding-left:.5rem;
    }
    .join__description{
        text-align: left;
    }

    .popular__container {
        grid-template-columns: repeat(3, 240px);
    }

    .footer__data {
        grid-template-columns: repeat(4, max-content);
        column-gap: 4.5rem;
    }
}

@media screen and (min-width: 1152px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .section__title{
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }

    .home__content{
        padding-top: 9rem;
        gap: 3rem;
    }
    .home__group{
        padding-top: 0;
    }
    .home__img{
        height: 400px;
        transform: translateY(-3rem);
    }
    .home__indicator{
        top: initial;
        right: initial;
        bottom: 15%;
        left: 45%;
    }
    .home__indicator::after{
        top: 0;
        height: 75px;
    }
    .home__details-img{
        bottom: 0;
        right: 58%;
    }
    .home__title{
        margin-bottom: var(--mb-1-5);
    }
    .home__description{
        margin-bottom: var(--mb-2-5);
        padding-right: 2rem;
    }

    .about__container {
        grid-template-columns: repeat(2, 510px);
        column-gap: 5rem;
        padding-block: 0rem;
    }
    .about__description {
        margin-bottom: 3rem;
    }

    .popular__container {
        padding-top: 1.5rem;
        display: flex;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1 ;
        align-items: center;
        justify-content: space-between;
        row-gap: 8px;
    }
    
    .home__buttons{
        flex-direction: row;
        justify-content: space-between;
        gap: 12rem;
    }

    .popular__content{
        width: 350px;
    }

    .join__container {
        grid-template-columns: 460px 340px;
        column-gap: 16rem;
        padding-block: 1rem 5rem;
    }

    .join__description {
        margin-bottom: 3rem;
    }

    .footer {
        padding-block: 5rem 3rem;
    }
    .footer__title {
        margin-bottom: 1.5rem;
    }
    .footer__group {
        margin-top: 7rem;
    }
    .footer__social {
        column-gap: 2rem;
    }
    .footer__social-link {
        font-size: 1.5rem;
    }
    .scrollup {
        right: 3rem;
    }
}